h1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: black;
    padding-bottom: 50px;
}
.a
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: black;
    padding-bottom: 10px;
}
button
{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blue ;
    color: white;
}

button:hover
{
    background-color: green;
}

#qoute
{
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: black;
}
#author
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: black;
}